.listItem {
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 1em;
  cursor: pointer;
}

.disabled {
  cursor: default;
}
